<h2>A detailed look at schools on the list</h2>

<p>The following data helps better understand each school. </p>

<dl class="examples">
    <dt><img alt="" src="/images/isat.jpg" /> ISAT performance by cohort</dt>
    <dd>
        <p>The percent of students meeting or exceeding state standards on standardized tests is tracked for one group, or cohort, of students from grades 3&mdash;8. This shows how a specific set of students performed over time. </p>
        <p class="mute"><%= I18n.t(:left) %>: <%= link_to 'King', school_path(59) %></p>
    </dd>
    
    <dt><img alt="" src="/images/5essentials.jpg"/> 5Essentials trends</dt>
    <dd>
        <p>An evaluation of a school’s ability to be successful, based on instructional content, school environment, family involvement, teacher collaboration, and effective leadership, according to The University of Chicago.</p>
        <p class="mute"><%= I18n.t(:left) %>: <%= link_to 'Pershing West', school_path(94) %></p>
    </dd>
    
    <dt><img alt="" src="/images/probation.jpg"/> Probation status trends</dt>
    <dd>
        <p>Each year CPS evaluates schools to determine if they should be placed on probation and targeted for improvement measures. Schools on probation tend to have more leadership changes, creating a less stable learning environment.</p>
        <p class="mute"><%= I18n.t(:left) %>: <%= link_to 'Marconi', school_path(71) %></p>
    </dd>
    
    <dt><img alt="" src="/images/mobility.jpg" /> Mobility rate trends</dt>
    <dd>
        <p>Mobility rate measures how many students transfer into, or out of, the school at times other than the beginning or end of a school year. When a school has a high mobility rate, it is more difficult to tell whether a school is making progress.</p>
        <p class="mute"><%= I18n.t(:left) %>: <%= link_to 'Lawrence', school_path(65) %></p>
    </dd>
    
    <dt><img alt="" src="/images/enrollment.jpg" /> Enrollment trends</dt>
    <dd>
        <p>This is the number of students attending the school, taken on the 20th day of each school year. It is used to determine future needs for space, personnel, equipment, etc.</p>
        <p class="mute"><%= I18n.t(:left) %>: <%= link_to 'Crown Community', school_path(22) %></p>
    </dd>
</dl>
