<!-- Content -->
<div id="content">
    <div id="intro">
        <h1>43,360 students await school closings decision</h1>
        <p>The Chicago Public Schools (CPS) has marked <strong>129 schools</strong> for possible closure based on utilization and performance. Closing a school is a very disruptive decision, affecting student outcomes, parental confidence, and neighborhood stability. 
<br />In addition to the data being used by CPS, this website provides additional data to help school leaders, parents and communities learn more about the schools being considered, and what neighborhood options will be available in case a school is closed.  </p>
        
        <!--
<div class="c2l">
            <p>
                <strong>43,630 students</strong>
                <br />The total number of students currently enrolled at the 129 elementary schools identified on the potential closing schools list. In actuality, the number of those affected will be much higher because of the effects of school closings on receiving schools and younger siblings not yet enrolled.
            </p>
        </div>
        <div class="c2r">
            <p>
                <strong>5,964 students with special needs</strong>
                <br />The total number of students with an Individualized Education Plan. The IEP designation includes a diverse set of developmental, physical, and emotional needs requiring additional and specialized support, resources, and physical spaces for accommodation. 
            </p>
        </div>
-->
        
        <div class="clear"></div>
    </div>
    
    <div class="c2l">
        <h2><%= @schools.size.to_s %> schools are screened for closure</h2>
        <p>Select your child’s school to learn more about it and the schools to which she or he may be sent.</p>
        
        <div id="schools">
            <div class="c3l">
            	 <ol>
            	 	<% num_columns = 3 %>
            	 	<% num_schools = @schools.size  %>
            	 	<% num_column_schools = num_schools / num_columns  %>
            	 	<% i = 0 %>
            	 	<% for i in 0..(num_column_schools * 1 - 1) %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 1 %>
                </ol>
            </div>
            <div class="c3m">
            	 <ol>
	            	<% for i in i..(num_column_schools * 2 - 1) %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 2 %>
                </ol>
            </div>
            <div class="c3r">
            	 <ol>
	            	<% for i in i..num_schools - 1 %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
                </ol>
            </div>
        </div>
    </div>
    
    <div class="c2r">
        <h2>A detailed look at schools on the list</h2>
        
        <p>The following data helps better understand each school. </p>
        
        <dl class="examples">
            <dt><img alt="" src="http://dummyimage.com/138" /> ISAT performance by cohort</dt>
            <dd>
                <p>The percent of students meeting or exceeding state standards on standardized tests is tracked for one group, or cohort, of students from 3rd through 8th grade. Tracking a cohort shows how a specific set of students performed over time. </p>
                <p class="mute">Left: <a href="#">Example school</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>An evaluation of a school’s ability to be successful, based on instructional content, school environment, family involvement, teacher collaboration, and effective leadership. The University of Chicago considers these components to be the foundation of a successful school.</p>
                <p class="mute">Left: <a href="#">Example school</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Probation status trends</dt>
            <dd>
                <p>Each year CPS evaluates schools to determine if they should be placed on probation and targeted for improvement measures. Schools on probation tend to have more leadership changes, creating a less stable learning environment.</p>
                <p class="mute">Left: <a href="#">Example school</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Mobility rate trends</dt>
            <dd>
                <p>Mobility rate measures how many students transfer into, or out of, the school at times other than the beginning or end of a school year. When a school has a high mobility rate, it is more difficult to show school-wide progress.</p>
                <p class="mute">Left: <a href="#">Example school</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Enrollment trends</dt>
            <dd>
                <p>The number of students attending the school, taken on the 20th day of each school year. This number is used to determine future needs for space, personnel, equipment, etc.</p>
                <p class="mute">Left: <a href="#">Example school</a></p>
            </dd>
        </dl>
    </div>
    
    <div class="clear"></div>
</div>
<!-- /Content -->


