<!-- Content -->
<div id="content">
    <div id="intro">
        <h1>43,360 students await school closings decision</h1>
        <p>The Chicago Public Schools (CPS) has marked <strong>129 schools</strong> for possible closure based on utilization and performance. However, a school is more than just two numbers and its closing affects long-term student educational outcomes, the stability of a neighborhood, and parental trust in the school system.
The detailed data presented will help parents with children in schools on the closing list learn about current schools and the schools to which they could be sent. </p>
        
        <!--
<div class="c2l">
            <p>
                <strong>43,630 students</strong>
                <br />The total number of students currently enrolled at the 129 elementary schools identified on the potential closing schools list. In actuality, the number of those affected will be much higher because of the effects of school closings on receiving schools and younger siblings not yet enrolled.
            </p>
        </div>
        <div class="c2r">
            <p>
                <strong>5,964 students with special needs</strong>
                <br />The total number of students with an Individualized Education Plan. The IEP designation includes a diverse set of developmental, physical, and emotional needs requiring additional and specialized support, resources, and physical spaces for accommodation. 
            </p>
        </div>
-->
        
        <div class="clear"></div>
    </div>
    
    <div class="c2l">
        <h2><%= @schools.size.to_s %> schools are screened for closure</h2>
        <p>Select your child’s school to learn more about it and the schools to which she or he may be sent.</p>
        
        <div id="schools">
            <div class="c3l">
            	 <ol>
            	 	<% num_columns = 3 %>
            	 	<% num_schools = @schools.size  %>
            	 	<% num_column_schools = num_schools / num_columns  %>
            	 	<% i = 0 %>
            	 	<% for i in 0..(num_column_schools * 1 - 1) %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 1 %>
                </ol>
            </div>
            <div class="c3m">
            	 <ol>
	            	<% for i in i..(num_column_schools * 2 - 1) %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 2 %>
                </ol>
            </div>
            <div class="c3r">
            	 <ol>
	            	<% for i in i..num_schools - 1 %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
                </ol>
            </div>
        </div>
    </div>
    
    <div class="c2r">
        <h2>A detailed look at schools on the list</h2>
        
        <p>The following data helps better understand each school. </p>
        
        <dl class="examples">
            <dt><img alt="" src="http://dummyimage.com/138" /> ISAT score trends by cohort</dt>
            <dd>
                <p>Math, Reading, and Science scores are shown for one group of students tracked through grades 3–8.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>The University of Chicago characterises successful schools as having five basic elements involving instruction, environment, families, leaders, and teachers.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Probation status trends</dt>
            <dd>
                <p>Schools scoring under a specified level are placed on academic probation which triggers administrative interventions aimed at improving performance.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Mobility rate trends</dt>
            <dd>
                <p>This is the percentage of students who move into, or out of, a school at times other than the beginning or end of a school year. These students may have difficulty keeping up academically.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> Enrollment trends</dt>
            <dd>
                <p>A school’s enrollment trend is calculated based on student populations on the 20th day of each school year. This helps estimate future needs for space, personnel, equipment, etc.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
        </dl>
    </div>
    
    <div class="clear"></div>
</div>
<!-- /Content -->


