<div id="header">
    <div id="header-content">
        <div id="logo">Catchy Title</div>
        
        <div id="sharing">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5131303d07eaa9f3"></script>
            <!-- AddThis Button END -->
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- /Header -->

<!-- Content -->
<div id="content">
    <div id="intro">
        <h1>Is CPS looking at the right data for closing schools?</h1>
        <p>Optati sit vel maionecepe nihit, et, eriatur, apeliqui demolupta voluptaquam as dem nonesseque sit lam autem est volor molecatur?Nos pratiore labo. Ut magnatur, nonsequae cus se enda prem. Ressinvent, volum asimporum assint dolupta tecaborum met natiatem doloria nis.</p>
        
        <div class="c3l">
            <p>
                <strong>Performance level</strong>
                <br />Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore ut elloressi
            </p>
        </div>
        <div class="c3m">
            <p>
                <strong>ISAT composite score</strong>
                <br />Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore ut elloressi
            </p>
        </div>
        <div class="c3r">
            <p>
                <strong>Utilization rate</strong>
                <br />Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore ut elloressi
            </p>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="c2l">
        <h2><strong>129 schools</strong> are being considered</h2>
        <p>Find your school to see what options will be available if it's closed and compare how CPS evaluates it to what else could be considered.</p>
        
        <div id="schools">
            <div class="c3l">
            	 <ol>
            	 	<% num_columns = 3 %>
            	 	<% num_schools = @schools.size  %>
            	 	<% num_column_schools = num_schools / num_columns  %>
            	 	<% i = 0 %>
            	 	<% for i in 0..(num_column_schools * 1) %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 1 + 1 %>
                </ol>
            </div>
            <div class="c3m">
            	 <ol>
	            	<% for i in i..num_column_schools * 2 %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
	            	<% i = num_column_schools * 2 + 1 %>
                </ol>
            </div>
            <div class="c3r">
            	 <ol>
	            	<% for i in i..num_schools - 1 %>
	            	 	<li><a href="schools/<%= @schools[i].id %>"><%= @schools[i].short_name %></a></li>
	            	<% end %>
                </ol>
            </div>
        </div>
    </div>
    
    <div class="c2r">
        <h2>A clearer picture with more data</h2>
        
        <p>In addition to performance levels, ISAT composite scores, and utilization rates, CPS could use the following datasets to gain a much clearer picture about each school.</p>
        
        <dl class="examples">
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore. Ut elloressi issenditio tem met raepuda.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore. Ut elloressi issenditio tem met raepuda.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore. Ut elloressi issenditio tem met raepuda.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore. Ut elloressi issenditio tem met raepuda.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
            
            <dt><img alt="" src="http://dummyimage.com/138" /> 5Essentials trends</dt>
            <dd>
                <p>Need explanation. Atur, con nonsent offic tem fugita volestibus mo moluptio volore. Ut elloressi issenditio tem met raepuda.</p>
                <p class="mute">Left: <a href="#">Ira F Aldridge Elementary School</a></p>
            </dd>
        </dl>
    </div>
    
    <div class="clear"></div>
</div>
<!-- /Content -->

<!-- Footer -->
<div id="footer">
    <div id="footer-primary">
        <h2>About this project</h2>
        <p>The purpose of this project is to highlight At doluptae dernam fugiae quodici comnis ium nus explit quatibusam del inctur, sam es et volorepe evelia metquam, totatius accullorepro dustiis as velestrum vitatius im aut officid quas inciusant ex ellicabo. Nem. Nequi dollit omnihit, quuntur, coreptium aliquiam nusandae. Os ea dolor andam, sunt esciis audit volorum aut rem. Itatur, unturerum doleni totatem eium susam, omnihic itatem in pratiossimpe qui qui alit hillor se re, aut aut et am, que non renihil magnien imporit acera voloreh enditassi dem dolor molorectium quam rercid</p>
        <p><a href="#">Learn more about the data &raquo;</a></p>
    </div>
    
    <div id="footer-secondary">
        <h2>Collaborators</h2>
        
        <p>Meet the talented and dedicated individuals who created this project.</p>
        
        <p>
            Jeanne Marie Olson, Apples 2 Apples
            <br />Josh Kalov, Organization
            <br />Lincoln Chandler, Organization
            <br />Anna Marie-Tamayo, Organization
            <br />Elnaz Moshfeghian, Open Data Institute
            <br />Paul Baker, Open Data Institute
            <br />Nick Rougeux, Open Data Institute
        </p>
    </div>
    
    <div class="clear"></div>
</div>
<!-- /Footer -->
