<%= render :partial => "highcharts_show" %>

<!-- Content -->
<div class="content">
    <h1>Compare potential receiving schools if <a href="../schools/<%= @school.id%>"><%= @school.short_name %> </a> is closed</h1>
    
    <p>CPS states that they will place students in higher-performing schools. How CPS is defining a school as "higher performing" is important to understand. A higher performing schools means a higher level on the Performance Policy for the year 2011-2012 school year or a school that performs higher in 3 of 4 selected metrics (performance points, ISAT composite meets or exceeds score, value added reading and value added math).  Here, you can compare available data on <%= @school.short_name %> to the school (or schools) chosen to receive students from <%= @school.short_name %>.</p>
    
    <h2>How is CPS defining "higher-performing" school?</h2>
    
    <div id="perform">
        <div id="perform-level">
            <h3><i class="icon-check"></i> Better level (1 or 2)</h3>
            <div class="levels">
                <ol>
                	<li class="level1"><strong>Level</strong><span>1</span></li>
                	<li class="level2"><strong>Level</strong><span>2</span></li>
                </ol>
                <p class="mute">Level 1 is best</p>
                <p>A rating of a school's performance calculated from Performance Policy points. <a href="http://cps.edu/Performance/Pages/Performancepolicy.aspx">More</a> &raquo;</p>
            </div>
        </div>
        <div id="perform-or">or</div>
        <div id="perform-other">
            <h3>Perform better in 3 out of 4 areas</h3>
            <ul id="perform-points">
                <li>
                    <h4><i class="icon-large icon-check"></i></h4>
                    <h4>Performance Policy points</h4>
                    <p>Percent of points on 8 metrics including ISAT Composite, Value-added reading and Value-added math. <a href="http://cps.edu/Performance/Pages/Performancepolicy.aspx">More</a> &raquo;</p>
                </li>
                <li>
                    <h4><i class="icon-large icon-check"></i></h4>
                    <h4>ISAT composite</h4>
                    <p>Percent of students meeting or exceeding state testing standards. <a href=" http://cps.edu/Performance/Documents/DataFiles/CPS%20FACT%20SHEET%20ON%20ISAT%20COMPOSITE.pdf">More</a> &raquo;</p>
                </li>
                <li>
                    <h4><i class="icon-large icon-check"></i></h4>
                    <h4>Value-added reading</h4>
                    <p>Measure of individual improvement in Math ISAT relative to district average <a href="http://cps.edu/pages/valueadded.aspx">More</a> &raquo;</p>
                </li>
                <li>
                    <h4><i class="icon-large icon-check"></i></h4>
                    <h4>Value-added math</h4>
                    <p>Measure of individual improvement in Reading ISAT relative to district average. <a href="http://cps.edu/pages/valueadded.aspx">More</a> &raquo;</p>
                </li>
            </ul>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <hr />
    
    <ul class="compare">
        <li class="selected">
            <div class="school">
                <h3><a href="../schools/<%= @school.id%>"><%= @school.short_name %></a></h3>
                
                <div class="<%= "level#{@school.level_number}" %>"><strong>Level</strong><span><%= @school.level_number%></span></div>
                
                <dl>
                    <dt>Enrollment</dt>
                    <dd><%= @school.enrollments_for_year(2012) %></dd>
                    
                    <dt>Which schools are better?</dt>
                    <dd>See right and below</dd>
                    
                    <hr />
                    <dt>ISAT trends</dt>
                    <dd><div class="isat" id="<%= @school.short_name %>"></div></dd>
                    
                    <dt>5Essentials (2012)</dt>
                    <dd>
                        <div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
                    </dd>
                </dl>
            </div>
        </li>
        
        <% @associated_schools.each do |related_school| %>

        <li>
            <div class="school">
                <h3><a href="../schools/<%= related_school.id %>"><%= related_school.short_name %></a></h3>
                
                <div class="<%= "level#{related_school.level_number}" %>"><strong>Level</strong><span><%= related_school.level_number%></span></div>
                
                <dl>
                    <dt>Enrollment</dt>
                    <dd><%= related_school.ideal_capacity_for_year(2012)-related_school.enrollments_for_year(2012) %> empty seats</dd>
                    
                    <dt class="question">Is it higher-performing?
                    	<span class="<%=  related_school.is_higher_performing?(@school) ? "yes" : "no" %>">
                    	<%=  related_school.is_higher_performing?(@school) ? "Yes" : "No" %>
	                    	</span>
                    </dt>
                    
                    <dd>
                        <i title="Performance Level" class="icon-large <%= @school.level_number > related_school.level_number ? "icon-check" : "icon-check-empty" %>"></i> or 
                        <i title="Performance Policy points" class="icon-large <%= @school.performance_metric.policy_points < related_school.performance_metric.policy_points ? "icon-check" : "icon-check-empty" %>" ></i>
                        <i title="ISAT composite" class="icon-large <%= @school.performance_metric.isat_composite < related_school.performance_metric.isat_composite ? "icon-check" : "icon-check-empty" %>" ></i>
                        <i title="Value-added reading" class="icon-large <%= @school.performance_metric.value_added_math < related_school.performance_metric.value_added_math ? "icon-check" : "icon-check-empty" %>" ></i>
                        <i title="Value-added math" class="icon-large <%= @school.performance_metric.value_added_reading < related_school.performance_metric.value_added_reading ? "icon-check" : "icon-check-empty" %>" ></i>
                    </dd>

                    <hr />

                    <dt>ISAT trends</dt>
                    <dd><div class="isat" id="<%= related_school.short_name %>"></div></dd>
                    
                    <dt>5Essentials (2012)</dt>
                    <dd>
                        <div class="essentials">
						    <div class="category leaders <%= related_school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= related_school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= related_school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= related_school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= related_school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= related_school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= related_school.essentials.where("category = 'environment' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= related_school.essentials.where("category = 'environment' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= related_school.essentials.where("category = 'families' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= related_school.essentials.where("category = 'families' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
                    </dd>
                </dl>
            </div>
        </li>
        <% end %>
        
    </ul>
</div>

<!-- /Content -->


