<!-- Javascript -->
<script>
$(function () {
	var enrollment_chart, isat_chart, mobility_chart, race_chart;
    $(document).ready(function() {
    	//ENROLLMENT CHART
        enrollment_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-enrollment',
                type: 'line'
            },
            credits: { enabled: false },
            legend: { enabled:false },
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 5
	            	},
		            shadow: false
	            }
            },
            series: [{
                name: 'Number of students enrolled',
                data: <%= raw @school.enrollments.map{|e| if(e.count.nil?) then '' else e.count.to_i end} %>,
                pointStart: Date.UTC(<%= raw @school.enrollments.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }],
            subtitle: { text: ''}, 
            title: { text: '' },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y', this.x) +': '+ this.y;
                }
            },
            xAxis: {
            	type: "datetime",
                gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
                tickLength: 0
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value;
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                    text: 'Number of students enrolled'
                }
            }
        });
        
        //ISAT CHART
        isat_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-isat',
                type: 'line'
            },
            credits: { enabled: false },
            legend: { borderWidth: 0 },
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 5
	            	},
		            shadow: false
	            }
            },
            series: [{
                name: 'Reading',
                data: <%= raw @school.isat_scores.where("subject = 'Reading'").map{|s| if(s.percent.nil?) then '' else s.percent end} %>,
                pointStart: Date.UTC(<%= raw @school.isat_scores.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }, {
             name: 'Math',
                data: <%= raw @school.isat_scores.where("subject = 'Math'").map{|s| if(s.percent.nil?) then '' else s.percent end} %>,
                pointStart: Date.UTC(<%= raw @school.isat_scores.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }, {
             name: 'Science',
                data: <%= raw @school.isat_scores.where("subject = 'Science'").map{|s| if(s.percent.nil?) then '' else s.percent end} %>,
                pointStart: Date.UTC(<%= raw @school.isat_scores.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year

            }],
            subtitle: { text: '' }, 
            title: { text: '' },
            tooltip: {
                borderColor: "#ccc",
                formatter: function() {
                	var s = "<strong>" + Highcharts.dateFormat('%Y', this.x) + "</strong>";
                	
                	$.each(this.points, function(i, point){
                		if (point.y > 0)
	                		s += "<br />" + point.series.name + ": " + point.y + "%";
                	});
                	
                	return s;
                },
                shared: true
            },
            xAxis: {
            	type: "datetime",
                gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
                tickLength: 0
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	max: 100,
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value + "%";
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                	style: { fontWeight: "normal" },
                    text: 'Students that meet or exceed state standards'
                }
            }
        });
        
        //MOBILITY CHART
        mobility_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-mobility',
                type: 'line'
            },
            credits: { enabled:false },
            series: [{
                name: 'Mobility rate',
                data: <%= raw @school.mobilities.map{|mobility| if(mobility.rate.nil?) then '' else mobility.rate end}.inspect %>, 
                pointStart: Date.UTC(<%= raw @school.mobilities.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }],
            legend: { enabled:false },
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 5
	            	},
		            shadow: false
	            }
            },
            subtitle: { text: ''},
            title: { text: ''},
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y', this.x) +': '+ this.y;
                }
            },
            xAxis: {
            	type: "datetime",
                gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
                tickLength: 0
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value;
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                    text: 'Mobility rate'
                }
            }
        });
        
        //RACE CHART
    	race_chart = new Highcharts.Chart({
	            chart: {
	            	renderTo: 'race-chart',
	                type: 'bar'
	            },
	            credits: {enabled: false},
	            legend: { enabled: false },
	            plotOptions: {
	                bar: {
	                    borderWidth: 0,
	                    dataLabels: {
	                        enabled: true
	                    },
	                    groupPadding: 0,
	                    shadow: false
	                }
	            },
	            series: [{
	                data: <%= raw @school.races.map{ |r| r.percent} %>
	            }],
	            title: { text: '' },
	            tooltip: { enabled: false },
	            xAxis: {
	                categories: <%= raw @school.races.map{ |r| r.ethnicity }.inspect %>,
	                tickLength: 0
	            },
	            yAxis: {
	            	gridLineWidth: 0,
	                labels: { enabled: false },
	                title: { text: '' }
	            }
	    });

    });
    
});

</script>

<!-- Map Script Section -->
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
    var map;
    var layerl0;
    function initialize() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        zoom: 13,
        scrollwheel: false
      });
      var style = [
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            { saturation: -88 }
          ]
        }
      ];
      var styledMapType = new google.maps.StyledMapType(style, {
        map: map,
        name: 'Styled Map'
      });
      map.mapTypes.set('map-style', styledMapType);
      map.setMapTypeId('map-style');
      var contentString = '<%= @school.short_name %>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 100
        });

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
            map: map,
            title: '<%= @school.short_name %>'
        });
         
      var circleOptions = {
        strokeColor: "#4b58a6",
        strokeOpacity: 0.5,
        strokeWeight: 1,
        fillColor: "#4b58a6",
        fillOpacity: 0.1,
        map: map,
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        clickable: false,
        zIndex: -1,
        radius: 1610
      };
      var onefiveOptions = {
        strokeColor: "#a64b58",
        strokeOpacity: 0.5,
        strokeWeight: 1,
        fillColor: "#a64b58",
        fillOpacity: 0.1,
        map: map,
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        clickable: false,
        zIndex: -1,
        radius: 2415
      };


      onefiveRadiusCircle = new google.maps.Circle(onefiveOptions);
      searchRadiusCircle = new google.maps.Circle(circleOptions);
      var LocationColumn = "Latitude"
      var fusionCPSID = "School ID"

      var whereClause = "'School ID'" + " not equal to '<%= @school.cps_id %>' AND " + "ST_INTERSECTS(" + "'col6'" + ", CIRCLE(LATLNG" + new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>) + "," + 2415 + "))";

      layerl0 = new google.maps.FusionTablesLayer({
        query: {
          select: LocationColumn,
          from: '1OS3KLNS2j0F7X1KC9buWjn6fybfr8mBvWHtcAB0',
          where: whereClause
        },
        map: map,
        styleId: 2,
        templateId: 2,
      });
      
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<!-- End Javascript -->

<!-- Content -->
<div id="content">
    <div id="intro">
        <h1><%= link_to 'Home', root_url %> &raquo; <%= @school.short_name %></h1>
        <p>
        	<%= @school.full_name %> &bull; <%= @school.phone %> &bull; <%= @school.community_area.split(' ').map {|w| w.capitalize }.join(' ') %> &bull; 
        	<%= @school.street_address %>, Chicago, Illinois <%= @school.zip%>
        </p>
        <div class="clear"></div>
    </div>
    
    <div id="profile-primary">
        <h2>Closest schools if this school is closed</h2>
        <p>If CPS closes <%= @school.short_name %>, students may be assigned to the schools below. <a href="#">More&hellip;</a></p>
        
        <div id="map"></div>
    </div>
    
    <div id="profile-secondary">
    	<p><a class="action" href="#comparison">Jump to evaluation data</a></p>
        
        <h2>Demographics</h2>
        
        <h3>Race/ethnicity</h3>
        <div id="race-chart"></div>
        <p><a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">View more demographics at CPS.edu</a> &raquo;</p>
    </div>
    
    <div class="clear"></div><hr />
    
    <div id="compare">
        <!-- <h2>What does CPS look at and what else could be considered?</h2> -->
        
        <div class="c2l">
            <h3>Why is this school on the closing list?</h3>
            
            <div class="dataset">
                <h4>CPS Utilization rate</h4>
                <p>This measure compares the numbers of students attending a school to the amount of students that CPS believes that school can accommodate, based on the number of eligible homerooms and an average of contractually-maximum homeroom limits. More...</p>
                
                <p><%= @school.utilizations.first.homerooms.to_f %> Homerooms</p>
                <p><%= @school.utilizations.first.other_rooms.to_f %> Other classrooms</p>
                
                <p>Using CPS's standard of 30 students per homeroom, <%= @school.short_name %> is:
                	<p>Between <%= (@school.utilizations.first.homerooms * 24).to_i %> and <%= (@school.utilizations.first.homerooms * 36).to_i %> students = Efficiently utilized</p>
                	<p>Less than <%= (@school.utilizations.first.homerooms * 24).to_i %> students = Underutilized</p>
                	<p>More than <%= (@school.utilizations.first.homerooms * 36).to_i %> students = Overcrowded  </p>      
                </p>     
                	
                	<br /> <%= @school.enrollments.where("year_from=2012").first.count%> students are enrolled at <%= @school.short_name %>. Therefore, by CPS's standards, <%= @school.short_name %> is Underutilized. </p>
                
                <p class="mute">Source: <a href="http://cps.edu/About_CPS/Policies_and_guidelines/Pages/qualityschools.aspx">CPS Space Utilization and Enrollment Data for School Year 2012-2013</a></p>
            </div>
            
            <div class="dataset">
                <h4>CPS Performance level</h4>
                <p>The Performance Level is the CPS indicator of school quality based on a formula that considers ISAT test scores and attendance rates. Level 1 is indicates a school that has the highest scores on this metric, and Level 3 is the lowest. More...</p>
                
                <div class="levels">
	                <ol>
	                	<li class=<%= if(@school.level=="Level 1") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>1</span></li>
	                	<li class=<%= if(@school.level=="Level 2") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>2</span></li>
	                	<li class=<%= if(@school.level=="Level 3") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>3</span></li>
	                </ol>
	                <p class="mute">Level 1 is best</p>
                </div>
                
                <p class="mute">Source: <a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">Chicago Public Schools School Profile</a></p>
            </div>
        </div>
        <div class="c2r">
            <h3>What do we know about this school?</h3>
                       
            <div class="dataset">
                <h4>Does student performance improve over time?</h4>
                <p>The ISAT cohort trend focuses on a single class of students, and follows their progress in Math, Reading and Science from 3rd grade through 8th grade. Cohort trends can reveal if students begin at a testing disadvantage and improve over time, whereas composite score trends are negatively skewed by lower initial scores.</p>
                
                <div id="chart-isat"></div>
                
                <p class="mute">Source: <a href="#">IIRC Source</a></p>
            </div>
            <div class="dataset">
                <h4>Is this school organized for improvement?</h4>
                <p>The University of Chicago identifies 5 Essential elements common to successful schools. Schools that have better scores for the majority of these elements are thought to be better set up for success. More...</p>
                
                <div class="essentials-charts">
                	<div class="c2l">
		                <!-- 2011 Essentials -->
		                <h4>2011</h4>
		                <div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
						<!-- /2011 Essentials -->
                	</div>
					<div class="c2r">
						<h4>2012</h4>
						<!-- 2012 Essentials -->
						<div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
		                <!-- /2012 Essentials -->
					</div>
					<p> Need legend. </p>
                </div>
                
                <p class="clear mute">Source: <a href="https://cps.5-essentials.org/2012/s/<%= @school.cps_id.to_s %>">5Essentials</a></p>
            </div>
            <div class="dataset">
                <h4>How stable has the school been?</h4>
                <p>Need explanation.</p>
                
                <p>Probation status trend</p>
                <p>Schools that score under a point threshold for Performance Policy calculations are placed on academic probation, which then trigger various interventions from the District to try and improve performance. More...</p>
                
                <ol class="probation">
                  <% @school.probations.each{| p | %>
	              			<li class=<%= p.status%>>
		            	 	<span class="status"><%= p.status%></span>
		            	 	<span class="from"><%= p.year_from.to_s %></span>
		            	 	<span class="to"><%= p.year_to.to_s %></span>
	            	 	</li>
	            	<% } %>                
	           	</ol>
                
                <p>Mobility rate trend</p>
                <p>Mobility rates measure the percentage of students moving into or out of a school at times other than the beginning or end of a school year.  Some of these students might move to other schools within the district, while others may be moving in or out of the District. More...</p>
                <div id="chart-mobility"></div>

                <p>Enrollment trend explanation. More...</p>
                <div id="chart-enrollment"></div>
                
                <p class="mute">Source: <a href="http://cps.edu/SchoolData/Pages/SchoolData.aspx">Chicago Public Schools Performance Data</a></p>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- /Content -->

