<!-- Javascript -->
<script>
$(function () {
	var enrollment_chart, isat_chart, mobility_chart, race_chart;
    $(document).ready(function() {
    	//ENROLLMENT CHART
        enrollment_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-enrollment',
                type: 'line'
            },
            credits: { enabled: false },
            legend: { enabled:false },
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 5
	            	},
		            shadow: false
	            }
            },
            series: [{
            	color: "#3b5cb2",
                name: 'Number of students enrolled',
                data: <%= raw @school.enrollments.sort_by{|e| e.year_from }.collect{|e| e.count}.to_json %>,
                pointStart: Date.UTC(<%= raw @school.enrollments.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }],
            subtitle: { text: ''}, 
            title: { text: '' },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y', this.x) +': '+ this.y;
                }
            },
            xAxis: {
            	gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
            	plotBands: [{
	                color: '#FCFFC5',
	                from: Date.UTC(2010, 0, 0),
	                to: Date.UTC(2013, 0, 0)
                }],                
                tickLength: 0,
                type: "datetime"
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value;
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                    text: 'Number of students enrolled'
                }
            }
        });
        
        //ISAT CHART
        isat_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-isat',
                type: 'line'
            },
            credits: { enabled: false },
            /* 
            legend: {
            	borderWidth: 0,
            	itemWidth: 200,
            	symbolWidth: 40
            },*/	
            legend : {
	        	borderWidth: 0,
	        	itemWidth: 130,
	        	symbolWidth: 40
            },		
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 4,
		            	symbol: "circle"
	            	},
	            	shadow: false
	            }
            },
            series: [{
                color: "#1F88EA",
                name: 'Reading',
                data: <%= raw @school.reading.sort_by{|s| s.year_from}.collect{|s| s.percent}.to_json %>,
                pointStart: Date.UTC(<%= raw @school.reading.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            },/*
	        {
                color: "#1F88EA",
                name: 'Reading: CPS Average',
                dashStyle: "ShortDash",
                data: [53,58,58,70,73,83],
                pointStart: Date.UTC(2007, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            },*/			
            {
             	name: 'Math',
                color: "#9E241D",
                data: <%= raw @school.math.sort_by{|s| s.year_from}.collect{|s| s.percent}.to_json %>,
                pointStart: Date.UTC(<%= raw @school.math.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            },/*
	        {
             name: 'Math: CPS Average',
                color: "#9E241D",
                dashStyle: "ShortDash",
                data: [69,71,69,74,78,81],
                pointStart: Date.UTC(2007, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            },*/			
            {
             	name: 'Science',
                color: "#A9B80D",
                data: <%= raw @school.science.sort_by{|s| s.year_from}.collect{|s| s.percent}.to_json %>,
                pointStart: Date.UTC(<%= raw @school.science.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year

            }/* ,{
             	name: 'Science: CPS Average',
                color: "#A9B80D",
                dashStyle: "ShortDash",
                data: ['',56,'','',73,''],
                pointStart: Date.UTC(2007, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }*/			
            ],
            subtitle: { text: '' }, 
            title: { text: '' },
            tooltip: {
                borderColor: "#ccc",
                formatter: function() {
                	var s = "<strong>" + Highcharts.dateFormat('%Y', this.x) + "</strong>";
                	
                	$.each(this.points, function(i, point){
                		if (point.y > 0)
	                		s += "<br />" + point.series.name + ": " + point.y + "%";
                	});
                	
                	return s;
                },
                shared: true
            },
            xAxis: {
            	gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
                tickLength: 0,
            	type: "datetime"
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	max: 100,
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value + "%";
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                	style: { fontWeight: "normal" },
                    text: 'Students that meet or exceed state standards'
                }
            }
        });
        
        //MOBILITY CHART
        mobility_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-mobility',
                type: 'line'
            },
            credits: { enabled:false },
            series: [
            {
            	color: "#3b5cb2",
                name: 'Mobility rate',
                data: <%= raw @school.mobilities.sort_by{|m| m.year_from }.map{|m| m.rate}.to_json %>, 
                pointStart: Date.UTC(<%= raw @school.mobilities.first.year_to.to_i %>, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }, {
             	color: "#3b5cb2",
             	name: 'CPS average mobility rate',
             	dashStyle: "ShortDash",
                data: [26.6, 25.2, 24.8, 24.5, 24.4, 24.0, 26.8, 22.4, 23.3, 18.8, 18.7, 17.9, 18.3],
                pointStart: Date.UTC(2000, 1, 1),
                pointInterval: 365 * 24 * 3600 * 1000 //one year
            }
            ],
            legend: { 
	        	borderWidth: 0,
	        	itemWidth: 130,
	        	symbolWidth: 40
            },
            plotOptions: {
	            line: {
	            	marker: {
		            	lineColor: "#fff",
		            	lineWidth: 1.5,
		            	radius: 5,
		            	symbol: "circle"
	            	},
		            shadow: false
	            }
            },
            subtitle: { text: ''},
            title: { text: ''},
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y', this.x) +': '+ this.y;
                }
            },
            xAxis: {
            	type: "datetime",
                gridLineColor: "#dfdfdf",
                gridLineWidth: 1,
                tickLength: 0
            },
            yAxis: {
            	gridLineColor: "#dfdfdf",
            	min: 0,
            	labels: {
	            	formatter: function(){
		            	return this.value;
	            	}
            	},
            	lineWidth: 1,
            	tickLength: 0,
                title: {
                    text: 'Mobility rate'
                }
            }
        });
        
        //RACE CHART
    	race_chart = new Highcharts.Chart({
	            chart: {
	            	renderTo: 'race-chart',
	                type: 'bar'
	            },
	            credits: {enabled: false},
	            legend: { enabled: false },
	            plotOptions: {
	                bar: {
	                    borderWidth: 0,
	                    dataLabels: {
	                        enabled: true,
	                        formatter: function(){
		                        return Highcharts.numberFormat(this.y, 0) + "%";
	                        }
	                    },
	                    groupPadding: 0,
	                    shadow: false
	                }
	            },
	            series: [{
	                data: <%= raw @school.races.map{ |r| r.percent} %>
	            }],
	            title: { text: '' },
	            tooltip: { enabled: false },
	            xAxis: {
	                categories: <%= raw @school.races.map{ |r| r.ethnicity }.inspect %>,
	                tickLength: 0
	            },
	            yAxis: {
	            	gridLineWidth: 0,
	                labels: { enabled: false },
	                title: { text: '' }
	            }
	    });
	    
	    //Demographics
	    dem_chart = new Highcharts.Chart({
	            chart: {
	            	renderTo: 'demographic-chart',
	                type: 'bar'
	            },
	            credits: {enabled: false},
	            legend: { enabled: false },
	            plotOptions: {
	                bar: {
	                    borderWidth: 0,
	                    dataLabels: {
	                        enabled: true,
	                        formatter: function(){
		                        return Highcharts.numberFormat(this.y, 0) + "%";
	                        }
	                    },
	                    groupPadding: 0,
	                    shadow: false
	                }
	            },
	            series: [{
	                data: <%= raw @school.demographics.where('year_from = 2012').map{ |item| item.percent } %>
	            }],
	            title: { text: '' },
	            tooltip: { enabled: false },
	            xAxis: {
	                categories: <%= raw @school.demographics.sort_by{|d| d.year_from}.map{ | item | item.category }.uniq %>,
	                tickLength: 0
	            },
	            yAxis: {
	            	gridLineWidth: 0,
	                labels: { enabled: false },
	                title: { text: '' }
	            }
	    });

	    

    });
    
});

</script>

<!-- Map Script Section -->
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
    var map;
    var layerl0;
    
    function initialize() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        zoom: 13,
        scrollwheel: false,
        minZoom: 13,
        maxZoom: 16
      });
      var style = [
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            { saturation: -100 },
            { "gamma": 1.75 }
          ]
        }
      ];
      var styledMapType = new google.maps.StyledMapType(style, {
        map: map,
        name: 'Styled Map'
      });
      map.mapTypes.set('map-style', styledMapType);
      map.setMapTypeId('map-style');

        //var marker = new google.maps.Marker({
        //    position: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        //    map: map,
        //    title: '<%= @school.short_name %>'
        //});
         
      var circleOptions = {
        strokeColor: "#4b58a6",
        strokeOpacity: 0.5,
        strokeWeight: 4,
        fillColor: "#4b58a6",
        fillOpacity: 0,
        map: map,
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        clickable: false,
        zIndex: -1,
        radius: 1610
      };
      var onefiveOptions = {
        strokeColor: "#a64b58",
        strokeOpacity: 0.5,
        strokeWeight: 4,
        fillColor: "#a64b58",
        fillOpacity: 0,
        map: map,
        center: new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>),
        clickable: false,
        zIndex: -1,
        radius: 2415
      };
      
      var thisCPSid = <%= @school.cps_id %>
      onefiveRadiusCircle = new google.maps.Circle(onefiveOptions);
      searchRadiusCircle = new google.maps.Circle(circleOptions);
      var LocationColumn = "Latitude"

      var whereClause = "ST_INTERSECTS(" + "Latitude" + ", CIRCLE(LATLNG" + new google.maps.LatLng( <%= @school.latitude %>, <%= @school.longitude %>) + "," + 2415 + "))";
	  /*
function query(){
		  var queryStr = [];
		  queryStr.push("SELECT " + "'levelnum', 'Value Added Math Score'");
		  queryStr.push(" FROM "+"1z1-EA7NoUQwox20w4VpjfMd_oGJ15h_JWVzQ8OA");     
		  queryStr.push(" WHERE "+ whereClause);
		  var sql = encodeURIComponent(queryStr.join(" "));
		  console.log(sql);
		  //$.ajax({url: "https://www.googleapis.com/fusiontables/v1/query?sql="+sql+"&callback="+callback+"&key=AIzaSyBZmv4Q6UbEd83q1GXlm6su2tMpwa18yrQ", dataType:"jsonp"});
	  }
	  query();
    //console.log(isBetter(3, 70, 38, 0, 1));
*/

      layerl0 = new google.maps.FusionTablesLayer({
        query: {
          select: LocationColumn,
          from: '1z1-EA7NoUQwox20w4VpjfMd_oGJ15h_JWVzQ8OA',
          where: whereClause
        },
        map: map,
        styleId: 4,
        templateId: 2,
        styles: [{
            where: "'School ID' = " + thisCPSid,
            markerOptions: {
                iconName: "large_blue"
            }
        }]
      });
      
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    /*
    var thisLevel = <%= @school.level[-1,1].to_i %>;
    var thisIsat = 76.2;
    var thisPolicyPts = 36;
    var thisValueMath = -0.3; 
    var thisValueReading = 0.8;
    
    function isBetter(level){
	    console.log(level);
    }
    
    
	    function isBetter(level, isat, policyPts, valueMath, valueReading){
    	var countTrue = 0;
    	
    	
    	if(thisLevel > level)
    		return 1;
    	
    	if(thisIsat < isat) 
    		countTrue++;	
    	if(thisPolicyPts < policyPts)
    		countTrue++;
    	if(thisValueMath < valueMath)
    		countTrue++;
    	if(thisValueReading < valueReading)
    		countTrue++;
    		
    	if(countTrue>=3) 
    		return 1;
    	else return 0;
    }

	function callback(json) {
	  MapsLib.handleError(json);
	  var data = json["rows"];
	  var template = "";
	
	  console.log(data[0][0]);
	}
	*/
  </script>
<!-- End Javascript -->

<!-- Content -->
<div class="content">
    <div id="intro">
        <h1><%= link_to 'Home', root_url %> &raquo; <%= @school.short_name %></h1>
        <p>
        	<%= @school.full_name %> &bull; <%= @school.phone %> &bull; <%= @school.community_area.split(' ').map {|w| w.capitalize }.join(' ') %> &bull; 
        	<%= @school.street_address %>, Chicago, Illinois <%= @school.zip%>
        </p>
        <div class="clear"></div>
    </div>
    
    <div id="profile-primary">
        <h2>Closest schools if <%= @school.short_name %> is closed</h2>
        <!-- <p>If <%= @school.short_name %> closes, its students might to moved to these nearby Neighborhood schools. </p> -->
        <div id="map"></div>
        <ul class="legend">
        	<li><strong style="color: #4b58a6;"><i class="icon-minus"></i></strong> 1 mile</li>
        	<li><strong style="color: #a64b58;"><i class="icon-minus"></i></strong> 1.5 miles</li>
            <li><strong style="color: #77a161;"><i class="icon-circle"></i></strong> Neighborhood</li>
            <li><strong style="color: #ebcc71;"><i class="icon-circle"></i></strong> Lottery/application</li>
        	<li><strong style="color: #9e241d;"><i class="icon-circle"></i></strong> Selective enrollment</li>
        </ul>
        
        <!--
<div class="balloon">
        	<h3>School name</h3>
        	<p>Type</p>
        	<ul>
        		<li>Enrollment: <strong>#</strong> (# empty seats)</li>
        		<li>Performance: Level 3</li>
        	</ul>
        </div>
-->
    </div>
    
    <div id="profile-secondary">
    	<p><a class="action" href="#compare">Jump to evaluation data</a></p>
        
        <h3><%= @school.short_name %>'s Demographics</h3>
        
        <strong>Statistics</strong>
        <div id="demographic-chart"></div>
        
        <strong>Race/ethnicity</strong>
        <div id="race-chart"></div>
        <p><a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">View more demographics at CPS.edu</a> &raquo;</p>
    </div>
    
    <div class="clear"></div><hr />
    
    <div id="compare">
        <!-- <h2>What does CPS look at and what else could be considered?</h2> -->
        
        <div class="c2l">
            <h3>Why is this school on the closing list?</h3>
            
            <div class="dataset">
                <h4>CPS utilization rate</h4>
                <p>This year, <%= @school.enrollments.select{|u| u.year_from==2012}.first.count %> students were enrolled at <%= @school.short_name %>. However, CPS believes a total of <%= @school.utilizations.select{|u| u.year_from==2012}.first.ideal_capacity %> students should be enrolled at <%= @school.short_name %>.</p>
                                
                <div id="utilization">
                	<% enrollment = @school.enrollments.select{ |e| e.year_from==2012}.first.count %>
                	<% ideal_capacity = @school.utilizations.select{|ut| ut.year_from==2012}.first.ideal_capacity %>
                	<% utilization_rate = enrollment.to_f / ideal_capacity * 100 %>
                	<% utilization_percent = number_to_percentage(utilization_rate, :precision => 0)%>
                 	
                	<h5><%= utilization_percent %> utilized by CPS calculations</h5>
                	<p>Underutilized</p>
                	
                	<div class="homeroom">
                		<div class="ideal">
                			<div class="enrollment">
                				<% util_symbol_count = (utilization_rate / 5).to_i %>
                				<% for i in 0..(util_symbol_count) %>
                					<i class="icon-user"></i>
                				<% end %>
                			</div>
                		</div>
            		</div>
                	
                	<!-- <div class="legend"><img alt="" src="/images/utilization.png" /></div> -->
                </div>
                <p>To learn more about how CPS utilization calculations may not be accurate, see <a href="http://cpsapples2apples.wordpress.com/2012/12/18/does-a2a-show-any-cps-schools-as-underutilized/">CPS Apples 2 Apples</a>.</p>
                <p class="mute">Source: <a href="http://cps.edu/About_CPS/Policies_and_guidelines/Pages/qualityschools.aspx">CPS Space Utilization and Enrollment Data for School Year 2012-2013</a></p>
            </div>
            
            <div class="dataset">
                <h4>CPS performance level</h4>
                <p>The Performance Level is the CPS indicator of school quality based on a formula that uses ISAT test scores and attendance rates. Level 1 is indicates a school that has the highest scores on this metric, and Level 3 is the lowest.</p>
                
                <div class="levels">
	                <ol>
	                	<li class=<%= if(@school.level=="Level 1") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>1</span></li>
	                	<li class=<%= if(@school.level=="Level 2") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>2</span></li>
	                	<li class=<%= if(@school.level=="Level 3") then @school.level.downcase.tr(' ','') end %>><strong>Level</strong><span>3</span></li>
	                </ol>
	                <p class="mute">Level 1 is best</p>
                </div>
                
                <p class="mute">Source: <a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">Chicago Public Schools School Profile</a></p>
            </div>
        </div>
        <div class="c2r">
            <h3>What do we know about this school?</h3>
                       
            <div class="dataset">
                <h4>Does student performance improve over time?</h4>
                <p>The percent of students meeting or exceeding state standards on standardized tests is tracked for one group, or cohort, of students from grades 3&mdash;8. This shows how a specific set of students performed over time.</p>
                
                <div id="chart-isat"></div>
                <!--
<% if @school.isat_scores.reject{|s| s.percent.nil? }.count %>
                <% if @school.isat_scores.reject{|s| s.percent.nil? }.count == 0%>
                	<p>No data available </p>
                <% end %>
-->
                
                <p class="mute">Source: <a href=<%= @school.isat_url %>>IIRC Source</a></p>
            </div>
            <div class="dataset">
                <h4>Is this school organized for improvement?</h4>
                <p>The University of Chicago identifies five basic elements of a successful school and rates each school based on the results of yearly parent, student, and teacher surveys.</p>
                
                <div class="essentials-charts">
                	<div class="c2l">
		                <!-- 2011 Essentials -->
		                <h4>2011</h4>
		                <div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
						<!-- /2011 Essentials -->
                	</div>
					<div class="c2r">
						<h4>2012</h4>
						<!-- 2012 Essentials -->
						<div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
		                <!-- /2012 Essentials -->
					</div>
					<ul class="legend">
			        	<li><strong style="background-color: #488714;"></strong> Very strong</li>
			        	<li><strong style="background-color: #77a161;"></strong> Strong</li>
			        	<li><strong style="background-color: #ebcc71;"></strong> Neutral</li>
			        	<li><strong style="background-color: #cf7e53;"></strong> Weak</li>
			        	<li><strong style="background-color: #9e241d;"></strong> Very weak</li>
			        	<li><strong style="background-color: #ddd;"></strong> No data</li>
			        </ul>
                </div>
                
                <p class="clear mute">Source: <a href="https://cps.5-essentials.org/2012/s/<%= @school.cps_id.to_s %>">5Essentials</a></p>
            </div>
            <div class="dataset">
                <h4>How stable is the school?</h4>
                <p>The trends in probation status, mobility rate and enrollment, described below, help show how stable a school has been. It is more difficult to get a clear picture of a school if it is changing. </p>
                
                <h5>Probation status trend</h5>
                <p>Each year CPS evaluates schools to determine if they should be placed on probation and targeted for improvement measures. Schools on probation tend to have more leadership changes.</p>
                
                <ol class="probation">
	                <% @school.probations.each{|p|%>
              			<li class=<%= p.status%>>
		            	 	<span class="status"<%= if (p.status=="" || p.status.nil?) then " title='Data not available'" else p.status end %>><%= if (p.status=="" || p.status.nil?) then "NA" else p.status end %></span>
		            	 	<span class="from">&lsquo;<%= p.year_from.to_s[-2,2] %></span>
		            	 	<span class="to">&lsquo;<%= p.year_to.to_s[-2,2] %></span>
		            	</li>
		            <% } %>                
	           	</ol>
	           	<div class="clear"></div>
                
                <h5>Mobility rate trend</h5>
                <p>When a school has a high mobility rate, it is more difficult to tell whether a school is making progress.</p>
                <div id="chart-mobility"></div>

                <h5>Enrollment trend</h5>
                <p>The number of students attending the school, taken on the 20th day of each school year. CPS will consider only the past three years of enrollment trends in their school closings decisions.</p>
                <div id="chart-enrollment"></div>

                <p class="mute">Source: <a href="http://cps.edu/SchoolData/Pages/SchoolData.aspx">Chicago Public Schools Performance Data</a></p>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- /Content -->

