<!-- Javascript -->
<%= render :partial => "highcharts_show" %>

<%= render :partial => "show_map" %>
<!-- End Javascript -->

<!-- Content -->
<div class="content">
    <div id="intro">
        <h1><%= @school.short_name %>
        	<% if (@school.closing_status == 1) %>
        		<span class="flag-screened">Considered but not closing</span>
        	<% end %>
        	<% if (@school.closing_status == 2) %>
        		<span class="flag-closing">Closing</span>
	            <!-- <span class="flag-screened">Screened but not closing</span> -->
        	<% end %>
        	<% if (@school.receiving_status == 3) %>
	            <span class="flag-screened">Screened but not closing</span>
        	<% end %>
	        </h1>
        </h1>
        <p>
        	<%= @school.full_name %> &bull; <%= @school.phone %> &bull; <%= @school.community_area.split(' ').map {|w| w.capitalize }.join(' ') %> &bull; 
        	<%= @school.street_address %>, Chicago, Illinois <%= @school.zip%>
        </p>
        <div class="clear"></div>
    </div>
    
    <div id="profile-primary">
        <h2>Closest schools if <%= @school.short_name %> is closed</h2>
        <!-- <p>If <%= @school.short_name %> closes, its students might to moved to these nearby Neighborhood schools. </p> -->
        <div id="map"></div>
        <ul class="legend">
        	<li><strong style="color: #4b58a6;"><i class="icon-minus"></i></strong> 1 mile</li>
        	<li><strong style="color: #a64b58;"><i class="icon-minus"></i></strong> 1.5 miles</li>
            <li><strong style="color: #77a161;"><i class="icon-circle"></i></strong> Neighborhood</li>
            <li><strong style="color: #ebcc71;"><i class="icon-circle"></i></strong> Lottery/application</li>
        	<li><strong style="color: #9e241d;"><i class="icon-circle"></i></strong> Selective enrollment</li>
        </ul>
        
        <!--
<div class="balloon">
        	<h3>School name</h3>
        	<p>Type</p>
        	<ul>
        		<li>Enrollment: <strong>#</strong> (# empty seats)</li>
        		<li>Performance: Level 3</li>
        	</ul>
        </div>
-->
    </div>
    
    <div id="profile-secondary">
    	<p><a class="action" href="#evaluation">Jump to evaluation data</a></p>
        
        <h3><%= @school.short_name %>'s Demographics</h3>
        
        <strong>Statistics</strong>
        <div id="demographic-chart"></div>
        
        <strong>Race/ethnicity</strong>
        <div id="race-chart"></div>
        <p><a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">View more demographics at CPS.edu</a> &raquo;</p>
    </div>
    
    <div class="clear"></div><hr />
    
    <div id="evaluation">
        <!-- <h2>What does CPS look at and what else could be considered?</h2> -->
        
        <div class="c2l">
            <h3>Why is this school on the closing list?</h3>
            
            <div class="dataset">
                <h4>CPS utilization rate</h4>
                <p>This year, <%= @enrollment %> students were enrolled at <%= @school.short_name %>. However, CPS believes a total of <%= @ideal_capacity %> students should be enrolled at <%= @school.short_name %>.</p>
                                
                <div id="utilization">
                	<% utilization_rate = @enrollment.to_f / @ideal_capacity * 100 %>
                	<% utilization_percent = number_to_percentage(utilization_rate, :precision => 0)%>
                 	
                	<h5><%= utilization_percent %> utilized by CPS calculations</h5>
                	<p>Underutilized</p>
                	
                	<div class="homeroom">
                		<div class="ideal">
                			<div class="enrollment">
                				<% util_symbol_count = (utilization_rate / 5).to_i %>
                				<% for i in 0..(util_symbol_count) %>
                					<i class="icon-user"></i>
                				<% end %>
                			</div>
                		</div>
            		</div>
                	
                	<!-- <div class="legend"><img alt="" src="/images/utilization.png" /></div> -->
                </div>
                <p>To learn more about how CPS utilization calculations may not be accurate, see <a href="http://cpsapples2apples.wordpress.com/2012/12/18/does-a2a-show-any-cps-schools-as-underutilized/">CPS Apples 2 Apples</a>.</p>
                <p class="mute">Source: <a href="http://cps.edu/About_CPS/Policies_and_guidelines/Pages/qualityschools.aspx">CPS Space Utilization and Enrollment Data for School Year 2012-2013</a></p>
            </div>
            
            <div class="dataset">
                <h4>CPS performance level</h4>
                <p>The Performance Level is the CPS indicator of school quality based on a formula that uses ISAT test scores and attendance rates. Level 1 is indicates a school that has the highest scores on this metric, and Level 3 is the lowest.</p>
                
                <div class="levels">
	                <ol>
	                	<li class="<%= if(@school.level=="Level 1") then @school.level.downcase.tr(' ','') else "blank" end %>"><strong>Level</strong><span>1</span></li>
	                	<li class="<%= if(@school.level=="Level 2") then @school.level.downcase.tr(' ','') else "blank" end %>"><strong>Level</strong><span>2</span></li>
	                	<li class="<%= if(@school.level=="Level 3") then @school.level.downcase.tr(' ','') else "blank" end %>"><strong>Level</strong><span>3</span></li>
	                </ol>
	                <p class="mute">Level 1 is best</p>
                </div>
                
                <p class="mute">Source: <a href="http://www.cps.edu/Schools/Pages/school.aspx?id=<%= @school.cps_id %>">Chicago Public Schools School Profile</a></p>
            </div>
        </div>
        <div class="c2r">
            <h3>What do we know about this school?</h3>
                       
            <div class="dataset">
                <h4>Does student performance improve over time?</h4>
                <p>The percent of students meeting or exceeding state standards on standardized tests is tracked for one group, or cohort, of students from grades 3&mdash;8. This shows how a specific set of students performed over time.</p>
                
                <div id="chart-isat"></div>
                <p class="mute">Source: <a href=<%= @school.isat_url %>>IIRC Source</a></p>
            </div>
            <div class="dataset">
                <h4>Is this school organized for improvement?</h4>
                <p>The University of Chicago identifies five basic elements of a successful school and rates each school based on the results of yearly parent, student, and teacher surveys.</p>
                
                <div class="essentials-charts">
                	<div class="c2l">
		                <!-- 2011 Essentials -->
		                <h4>2011</h4>
		                <div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2011").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
						<!-- /2011 Essentials -->
                	</div>
					<div class="c2r">
						<h4>2012</h4>
						<!-- 2012 Essentials -->
						<div class="essentials">
						    <div class="category leaders <%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'leaders' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Effective leaders</span>
						    </div>
						    <div class="category teachers <%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'teachers' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Collaborative teachers</span>
						    </div>
						    <div class="category instruction <%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'instruction' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Ambitious instruction</span>
						    </div>
						    <div class="category environment <%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'environment' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Supportive environment</span>
						    </div>
						    <div class="category families <%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.tr(' ','-') %>" 
						    	title="<%= @school.essentials.where("category = 'families' AND year_to=2012").first.rating.capitalize %>">
						    	<span class="title">Involved families</span>
						    </div>
						</div>
		                <!-- /2012 Essentials -->
					</div>
					<ul class="legend">
			        	<li><strong style="background-color: #488714;"></strong> Very strong</li>
			        	<li><strong style="background-color: #77a161;"></strong> Strong</li>
			        	<li><strong style="background-color: #ebcc71;"></strong> Neutral</li>
			        	<li><strong style="background-color: #cf7e53;"></strong> Weak</li>
			        	<li><strong style="background-color: #9e241d;"></strong> Very weak</li>
			        	<li><strong style="background-color: #ddd;"></strong> No data</li>
			        </ul>
                </div>
                
                <p class="clear mute">Source: <a href="https://cps.5-essentials.org/2012/s/<%= @school.cps_id.to_s %>">5Essentials</a></p>
            </div>
            <div class="dataset">
                <h4>How stable is the school?</h4>
                <p>The trends in probation status, mobility rate and enrollment, described below, help show how stable a school has been. It is more difficult to get a clear picture of a school if it is changing. </p>
                
                <h5>Probation status trend</h5>
                <p>Each year CPS evaluates schools to determine if they should be placed on probation and targeted for improvement measures. Schools on probation tend to have more leadership changes.</p>
                
                <ol class="probation">
	                <% @school.probations.each{|p|%>
              			<li class=<%= p.status%>>
		            	 	<span class="status"<%= if (p.status=="" || p.status.nil?) then " title='Data not available'" else p.status end %>><%= if (p.status=="" || p.status.nil?) then "NA" else p.status end %></span>
		            	 	<span class="from">&lsquo;<%= p.year_from.to_s[-2,2] %></span>
		            	 	<span class="to">&lsquo;<%= p.year_to.to_s[-2,2] %></span>
		            	</li>
		            <% } %>                
	           	</ol>
	           	<div class="clear"></div>
                
                <h5>Mobility rate trend</h5>
                <p>When a school has a high mobility rate, it is more difficult to tell whether a school is making progress.</p>
                <div id="chart-mobility"></div>

                <h5>Enrollment trend</h5>
                <p>The number of students attending the school, taken on the 20th day of each school year. CPS will consider only the past three years of enrollment trends in their school closings decisions.</p>
                <div id="chart-enrollment"></div>

                <p class="mute">Source: <a href="http://cps.edu/SchoolData/Pages/SchoolData.aspx">Chicago Public Schools Performance Data</a></p>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>

<!-- /Content -->

